<%= turbo_stream_from "active_job_notifications", current_recipient.to_gid_param %>

<h1><%= t(".title") %></h1>

<% if @executions.any? %>
  <% @executions.each do |execution| %>
    <div>
      <%= active_job_notificare(execution) %>
      <p>
        <%= t(".status_label") %>: <%= execution.status %>
        <% if execution.started_at %>
          &mdash; <%= t(".started_label") %>: <%= execution.started_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
      </p>
      <%= link_to t(".details"), scaffold_demo_path(execution) %>
    </div>
  <% end %>
<% else %>
  <p><%= t(".empty") %></p>
<% end %>

<%= active_job_notifications(for: current_recipient) %>
