<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Notificare Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="app-nav">
      <div class="app-nav__brand">
        <%= link_to "Notificare Demo", csv_imports_path %>
      </div>
      <div class="app-nav__links">
        <%= link_to "CSV Imports", csv_imports_path %>
        <%= link_to "Admin UI", notificare.root_path %>
      </div>
      <div class="app-nav__user">
        <span>👤 <%= current_user.name %></span>
      </div>
    </nav>

    <main class="app-main">
      <%= yield %>
    </main>
  </body>
</html>
