<%= turbo_frame_tag dom_id(notification) do %>
  <div class="notificare-notification<%= notification.read? ? "" : " notificare-notification--unread" %>">
    <strong class="notificare-notification__title"><%= notification.title %></strong>
    <% if notification.description.present? %>
      <p class="notificare-notification__description"><%= notification.description %></p>
    <% end %>
    <div class="notificare-notification__actions">
      <% unless notification.read? %>
        <%= button_to t("active_job.notificare.notifications.mark_as_read"), notificare.read_notification_path(notification), method: :patch %>
      <% end %>
      <%= button_to t("active_job.notificare.notifications.dismiss"), notificare.dismiss_notification_path(notification), method: :patch %>
      <% if notification.actions.present? %>
        <% notification.actions.each do |action| %>
          <%= link_to action["label"], action["url"] %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
